@font-face {
  font-family: "IFood RC Titulos";
  src: url(../assets/fonts/iFoodRCTitulos-Regular.ttf);
}

@font-face {
  font-family: "IFood RC Textos";
  src: url(../assets/fonts/iFoodRCTextos-Regular.ttf);
}

body {
  background-color: var(--primary-white);
  font-family: "IFood RC Textos";
}
main section {
  margin-bottom: var(--bg-spacing);
}
.logo-container {
  display: flex;
  background-color: var(--primary-red);
  height: 150px;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-container img {
  height: 100px;
  align-self: center;
}

.greeting,
.location {
  font-family: "IFood RC Titulos";
  font-size: var(--bg-title);
  color: var(--primary-white);
  padding: var(--sm-spacing);
}

header nav {
  height: 30px;
  padding: var(--sm-spacing);
  display: flex;
  justify-content: baseline;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
}

header nav a {
  font-family: "Ifood RC Titulos";
  font-size: var(--bg-text);
  padding-left: var(--sm-spacing);
  color: var(--lighter-gray);
}

.red-link {
  color: var(--primary-red);
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-top: 8px solid var(--primary-red);
  align-items: center;
  height: 150px;
  gap: var(--md-spacing);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--bg-text);
  gap: var(--sm-spacing);
}

.symbol {
  font-size: var(--bg-title);
}

@media (max-width: 680px) {
  .greeting,
  .location {
    font-size: var(--md-title);
  }
}
@media (max-width: 500px) {
  .greeting,
  .location {
    font-size: var(--md-text);
  }
}

@media (max-width: 380px) {
  header nav {
    height: 80px;
    display: flex;
    flex-flow: column wrap;
  }
  .logo-container img {
    height: 50px;
  }
}

@media (max-width: 275px) {
  header nav {
    height: 80px;
    display: flex;
    flex-flow: column wrap;
  }
  .logo-container img {
    height: 30px;
    align-self: flex-start;
    margin-top: var(--md-spacing);
  }
}
