@font-face {
  font-family: "IFood RC Titulos";
  src: url(../assets/fonts/iFoodRCTitulos-Regular.ttf);
}

@font-face {
  font-family: "IFood RC Textos";
  src: url(../assets/fonts/iFoodRCTextos-Regular.ttf);
}

body {
  background-color: var(--primary-white);
  font-family: "IFood RC Textos";
}
main section {
  margin-bottom: var(--bg-spacing);
}
.logo-container {
  display: flex;
  background-color: var(--primary-red);
  height: 150px;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-container img {
  height: 100px;
  align-self: center;
}

.greeting,
.location {
  font-family: "IFood RC Titulos";
  font-size: var(--bg-title);
  color: var(--primary-white);
  padding: var(--sm-spacing);
}

header nav {
  height: 30px;
  padding: var(--sm-spacing);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
}

header nav a {
  font-family: "Ifood RC Titulos";
  font-size: var(--bg-text);
  color: var(--lighter-gray);
}
