@font-face {
  font-family: "IFood RC Titulos";
  src: url(../assets/fonts/iFoodRCTitulos-Regular.ttf);
}

@font-face {
  font-family: "IFood RC Textos";
  src: url(../assets/fonts/iFoodRCTextos-Regular.ttf);
}

section h2 {
  font-family: "IFood RC Titulos";
  margin: var(--md-spacing);
  color: var(--medium-gray);
  font-size: var(--md-title);
  text-align: center;
}

.promos-container div,
.dinners-section div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.promos-container img {
  width: 400px;
  border-radius: 20px;
}

.local-dishes-container {
  display: flex;
  flex-direction: column;
}

.see-more {
  font-family: "IFood RC Titulos";
  font-size: var(--md-title);
  color: var(--primary-red);
  text-decoration: none;
  margin-top: calc(var(--bg-spacing) * 1.5);
  align-self: center;
  text-align: center;
}

.dish-labels-container {
  display: flex;
  justify-content: space-evenly;
}

.dish-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--sm-spacing);
}

.dish-card h4,
.dish-card h5 {
  margin-bottom: var(--sm-spacing);
}

.dish-card h4 {
  font-size: var(--md-text);
  margin-top: calc(var(--sm-spacing) / 2);
  color: var(--primary-red);
}

.dish-card h5 {
  font-size: var(--xs-text);
  color: var(--darker-gray);
}

.dish-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--primary-red);
}

.dinners-container {
  display: flex;
  flex-flow: row wrap;
}

.dinner-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 8px solid var(--primary-red);
  border-radius: 25px;
  padding: var(--md-spacing);
  justify-content: space-between;
  margin: var(--md-spacing);
}

.dinner-label img {
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  padding: 2px;
}

.dinner-card h4 {
  text-align: center;
  font-family: "IFood RC Titulos";
  font-weight: bold;
  font-size: var(--md-title);
  margin-top: var(--sm-spacing);
  color: var(--primary-red);
}

.dinner-card h5 {
  text-align: center;
  font-size: var(--md-text);
  margin-top: var(--sm-spacing);
  color: var(--darker-gray);
}

.dinner-title {
  display: flex;
  justify-content: center;
}

.score-container {
  display: flex;
  flex-flow: column wrap;
  margin-left: var(--sm-spacing);
}

.score-container h6 {
  color: var(--primary-gold);
  font-size: var(--sm-text);
}

.score {
  color: var(--primary-gold);
  font-size: var(--xs-text);
}

.contact-us {
  background-color: var(--primary-red);
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
}

.personal-infos {
  display: flex;
  justify-content: center;
  gap: var(--md-spacing);
}

label {
  color: var(--primary-white);
}

.personal-infos input {
  background: var(--primary-white);
  width: 250px;
  margin-left: var(--sm-spacing);
}

.message {
  margin-top: var(--md-spacing);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.message textarea {
  width: 640px;
  height: 100px;
  resize: none;
}

.form-buttons-container {
  padding: var(--md-spacing);
  display: flex;
  justify-content: space-between;
  gap: var(--md-spacing);
}

.form-button {
  background-color: #ad1d2c;
  border-radius: 100px;
  box-shadow: rgba(250, 250, 250, 0.2) 0 -25px 18px -14px inset,
    rgba(250, 250, 250, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(250, 250, 250, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(250, 250, 250, 0.15) 0 16px 32px;
  color: var(--primary-white);
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form-button:hover {
  box-shadow: rgba(250, 250, 250, 0.35) 0 -25px 18px -14px inset,
    rgba(250, 250, 250, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(250, 250, 250, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(250, 250, 250, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@media (max-width: 850px) {
  .promos-container {
    flex-flow: column wrap;
  }
}

@media (max-width: 680px) {
  .dish-labels-container {
    flex-wrap: wrap;
    gap: var(--sm-spacing);
  }

  .personal-infos {
    flex-flow: column wrap;
    align-items: center;
  }

  .message textarea {
    width: 300px;
  }
}

@media (max-width: 500px) {
  .promos-container img {
    width: 200px;
  }
}

@media (max-width: 420px) {
  .dinner-label img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 380px) {
  .contact-us {
    height: 450px;
  }

  .message textarea {
    width: 250px;
  }
}

@media (max-width: 275px) {
  .personal-infos {
    width: 150px;
  }

  .form-buttons-container {
    flex-flow: column wrap;
  }
}
